<div id="page-wrapper">

            <div class="container">
              <!-- Page Heading -->
                <div class="row">


<h1>Fiche projet de monsieur <%= Client.find(params[:id]).nom %>
  <small><%= Client.find(params[:id]).entreprise %></small>
  </h1>

  <p>Tableau récapitulatif des projets en cours du client</p>


		<div class="col-lg-12">

				<table class="table">
				 <% @projects.each do |project| %>
				 <tr>
				 	<td><%= project.domaine %></td>
				 	<td><div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
				    <span class="sr-only">60% Complete</span>
				  </div>
				</div>
				  </td>	
				 </tr>

				 <% end %>

				</table>


		</div>

			</div>

		</div>
</div>


